* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}



section {
    padding-top: 20vh;
}

div {
    height: 250px;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
}

p:nth-child(1) {
    width: 33.3%;
    display: inline-block;
    float: left;
}

img {
    float: left;
    height: 100%;
    width: 33.3%;
    display: inline-block;
}

p:nth-child(3) {
    width: 33.3%;
    display: inline-block;
    float: right;
}